<div id="header_box">
	<div id="user_name">
		<%if user_signed_in?%>		
			<%=link_to 'logout',  destroy_user_session_path %>:&nbsp;<%=  current_user.email%>
		<%else%>
			<%=link_to 'login', new_user_session_path %>				
		<%end%>
	</div>

	<div id="client">
		<%unless @client.blank? %>			
			client:&nbsp;<%= @client.name %>
		<%end%>			
	</div>
	<div id="help_menu_box">
		<%=link_to "home", home_url%>|<%=link_to "faq", faq_url%>|<%=link_to "help", help_url%>|<%=link_to "terms", terms_url%>
	</div>	
</div>